{% extends "website/base.html" %}
{% load djpress_tags %}
{% block content %}
  <h1>Testing out the Editor Frameworks</h1>
  <p><a href="{% url 'website:post_create' %}">Create a new post</a></p>
  {% if posts %}
    <p>List of posts created:</p>
    {% for post in posts %}
      <ul>
        <li>
          <a href="{% url 'website:post_view' post.pk %}">{{ post.title }}</a>
          (updated: {{ post.updated_at }}) [<a href="{% url 'website:post_edit' post.pk %}">edit</a>]
        </li>
      </ul>
    {% endfor %}
  {% endif %}
{% endblock %}
